/* Common Styles */

:root {
  /* border radius */
  --radius: 5px;

  /* color */
  --clr-white: #ffffff;

  --clr-green-1: rgb(128, 193, 125);
  --clr-green-2: #6AB767;
  --clr-green-3: #4EAE4A;
  --clr-green-4: #34A937;
  --clr-green-5: #038839;
  --clr-green-6: #0D642F;

  --clr-dangerous: #F73131;

  --clr-ghost-green: #F3FFE8;
  --clr-ghost-green1: rgba(128, 193, 125, 0.5);
  --clr-ghost-white: #FAFAFF;

  /* transition */
  --transition: all 0.3s ease;

  /* box-shadow */
  --shadow-btn: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadow-card: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Popppins", serif;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  padding: 0.8rem 0.7em;
  font-size: 1rem;
  border: none;
  border-radius: var(--radius);
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1.3rem
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.section {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width:1400px) {
  .section {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .section {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .section {
    width: 100%;
  }

  #nav.section {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media (max-width: 576px) {
  .section {
    padding-inline: 1rem
  }
}

.logo {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.logo-desc {
  font-size: 0.8rem;
}

#nav {
  padding: 1rem;
  background-color: var(--clr-green-5);
  color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  display: inline-block;
  border-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: var(--radius);
  font-size: 1rem;
  background-color: var(--clr-green-2);
  transition: var(--transition);
  color: var(--clr-white);
  box-shadow: var(--shadow-btn);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-green-3);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dangerous-btn {
  background-color: var(--clr-dangerous);
}

.dangerous-btn:hover {
  background-color: #F7000D;
}

.icon-btn {
  display: inline-block;
  width: 2.1rem;
  height: 2.1rem;
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: var(--shadow-btn);
  transition: var(--transition);
}

.icon-btn:hover{
  background-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--radius);
  padding: 2.5rem;
}

.card-title {
  text-align: center;
  margin-bottom: 0.3rem;
}

.card-subtitle {
  text-align: center;
  font-size: 0.9rem;
}

/* Overlay Styles */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: -1;
  transition: var(--transition);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.show {
  opacity: 1;
  z-index: 100;
}

.overlay-container {
  position: relative;
  width: 60%;
  max-width: 500px;
  background-color: var(--clr-white);
  display: grid;
  transform: scale(0);
  transition: var(--transition);
}

.overlay-container.show {
  transform: scale(1);
}

.overlay-container span {
  font-size: 2rem;
  justify-self: center;
  margin-bottom: 1rem;
}

.overlay-text {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

.overlay-container .btn-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 0.8rem;
}

/* Checkbox */

.checkbox-wrapper-19 {
  box-sizing: border-box;
  --background-color: #fff;
  --checkbox-height: 25px;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

.checkbox-wrapper-19 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * .1) solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * .2);
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * .72);
  left: calc(var(--checkbox-height) * .41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * .37);
  left: calc(var(--checkbox-height) * .05);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d;
}

.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type=checkbox]:checked+.check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

/* Custom DatePicker */

.datepicker-grid .datepicker-cell.today:not(.selected) {
  background-color: transparent;
  border: 2px solid var(--clr-green-1);
  color: black;
  font-weight: 600;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: var(--clr-green-2);
}

