/* Common Styles */

:root {
  /* border radius */
  --radius: 5px;

  /* color */
  --clr-white: #ffffff;

  --clr-green-1: #80C17D;
  --clr-green-2: #6AB767;
  --clr-green-3: #4EAE4A;
  --clr-green-4: #34A937;
  --clr-green-5: #038839;
  --clr-green-6: #0D642F;

  --clr-ghost-green: #F3FFE8;
  --clr-ghost-white: #FAFAFF;

  /* transition */
  --transition: all 0.3s ease;

  /* box-shadow */
  --shadow-btn: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadow-card: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Popppins", serif;
}

input {
  outline: none;
  padding: 0.8rem 0.7em;
  font-size: 1rem;
  border: none;
  border-radius: var(--radius);
}

ul {
  list-style-type: none;
}

ol {
  list-style: none;
  counter-reset: item;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1.3rem
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.2rem;
  }
}

.section {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  display: inline-block;
  border-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: var(--radius);
  font-size: 1rem;
  background-color: var(--clr-green-2);
  transition: var(--transition);
  color: var(--clr-white);
  box-shadow: var(--shadow-btn);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-green-3);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-btn {
  display: inline-block;
  width: 2.1rem;
  height: 2.1rem;
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: var(--shadow-btn);
  transition: var(--transition);
}

.icon-btn:hover{
  background-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--radius);
  padding: 2.5rem;
}

.card-title {
  text-align: center;
  margin-bottom: 0.3rem;
}

.card-subtitle {
  text-align: center;
  font-size: 0.9rem;
}