/* calendar */

.btn-container {
  margin-bottom: 2rem;
}

.new-btn {
  align-self: flex-start;
}

.calendar-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#datepicker {
  padding: 1.2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-card);
}

.range-box {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
}

#from {
  border: 1px solid #ccc;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.2s;
  width: 100%;
}

.range-to {
  display: grid;
  width: 3rem;
  height: 100%;
  place-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #F5F5F5;
}

#to {
  border: 1px solid #ccc;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.2s;
  width: 100%;
}

.condition-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.from-group label, .from-group input,
.to-group label, .to-group input {
  display: block;
}


.from-datepicker, .to-datepicker {
  border: 1px solid;

}

.search-group {
  display: flex;
  border: 1px solid #ccc;
  border-radius: var(--radius);
}

.search-group i {
  color: rgb(150, 150, 150);
  padding: 0.8rem
}

.search-input {
  padding-left: 0;
  width: 100%;
}

.radio-box {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {

  .calendar-container {
    flex-direction: column;
  }

  #datepicker {
    margin: 0 auto;
  }

  .condition-form {
    align-items: center;
  }

  .search-group {
    width: 50%;
  }

  .radio-box {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
  }
}

@media (max-width: 576px) {
  .search-group {
    width: 80%;
  } 
}

@media (max-width: 500px) {
  /* .range-box {
    flex-direction: column;
    align-items: flex-start;
  } */
  
  .radio-box {
    width: 100%;
  }
}

/* todo */

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-lists {
  width: 100%;
  display: grid;
}

.todo-lists hr {
  border-color: #ccc;
}

.todo-list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
  transition: var(--transition);
  height: 53px;
}

.todo-title-group {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.todo-list:has(.todo-title-group:hover) {
  background-color: var(--clr-ghost-white);
}

.list-number {
  background: var(--clr-green-2);
  display: grid;
  border-radius: 50%;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.3rem;
  place-items: center;
}

.todo-title {
  font-size: 1.3rem;
  width: 100%;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-btn {
  margin-right: 0.6rem;
}

@media (max-width: 576px) {
  .todo-lists {
    width: 100%;
  }

  .list-number {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;

  }

  .todo-title {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 0.5rem;
  }
}

/* Radio Button */

.radio-wrapper-6 {
  display: flex;
  align-items: center;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio-wrapper-6 input[type=radio] {
    --active: var(--clr-green-4);
    --active-inner: #fff;
    --focus: 2px rgba(32, 204, 55, 0.3);
    --border: #BBC1E1;
    --border-hover: var(--clr-green-3);
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 27px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  .radio-wrapper-6 input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  .radio-wrapper-6 input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  .radio-wrapper-6 input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  .radio-wrapper-6 input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  .radio-wrapper-6 input[type=radio]:disabled+label {
    cursor: not-allowed;
    color: #8A91B4;
  }

  .radio-wrapper-6 input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  .radio-wrapper-6 input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  .radio-wrapper-6 input[type=radio]:not(.switch) {
    width: 27px;
  }

  .radio-wrapper-6 input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }

  .radio-wrapper-6 input[type=radio]:not(.switch):checked {
    --o: 1;
  }

  .radio-wrapper-6 input[type=radio]+label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: .5em;
  }

  .radio-wrapper-6 input[type=radio] {
    border-radius: 50%;
  }

  .radio-wrapper-6 input[type=radio]:after {
    width: 24.8px;
    height: 24.8px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }

  .radio-wrapper-6 input[type=radio]:checked {
    --s: .5;
  }
}

/* Custom VanilaJS DatePicker */

/* #datepicker {
  display: none;
}

#datepicker.show {
  display: block;
}

.datepicker-grid .datepicker-cell.today:not(.selected) {
  background-color: transparent;
  border: 2px solid var(--clr-green-1);
  color: black;
  font-weight: 600;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: var(--clr-green-2);
} */

/* Custom LightPick Rangepicker */
#single-datepicker {
  display: none;
}

#range-datepicker {
  display: none;
}

.lightpick {
  order: -1;
  z-index: 1;
  display: none;
}

.lightpick.show {
  display: inline-block;
}

.single-picker .lightpick__day.is-today.is-start-date.is-end-date {
  background-image: url(../../image/today.svg);
  background-size: 18.8% auto;
  background-position: center bottom;
  color: #DC322F;
  font-weight: 400;
}


/* Mode Radio Button */

.radio-wrapper-20 input[type="radio"]:focus {
  outline: 0;
  border-color: var(--clr-green-1);
  box-shadow: 0 0 0 4px #b5c9fc;
}

.radio-wrapper-20 {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 0.5rem; */
  justify-content: center;
}

.radio-wrapper-20 input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radio-wrapper-20 input[type="radio"]:checked+span {
  box-shadow: 0 0 0 0.0625em var(--clr-green-3);
  background-color: #dee7ff;
  z-index: 1;
  color: var(--clr-green-3);
}

.radio-wrapper-20 label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color .5s ease;
}

.radio-wrapper-20 label:first-child span {
  border-radius: .375em 0 0 .375em;
}

.radio-wrapper-20 label:last-child span {
  border-radius: 0 .375em .375em 0;
}