/* calendar */

.btn-container {
  margin-bottom: 2rem;
}

.new-btn {
  align-self: flex-start;
}

.calendar-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#datepicker {
  padding: 1.2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-card);
}


.condition-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.from-group label, .from-group input,
.to-group label, .to-group input {
  display: block;
}

.range-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.from-datepicker, .to-datepicker {
  border: 1px solid;

}

.search-group {
  display: flex;
  border: 1px solid;
  border-radius: var(--radius);
}

.search-group i {
  padding: 0.8rem
}

.search-input {
  padding-left: 0;
  width: 100%;
}

.radio-box {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {

  .calendar-container {
    flex-direction: column;
  }

  #datepicker {
    margin: 0 auto;
  }

  .condition-form {
    align-items: center;
  }

  .search-group {
    width: 50%;
  }

  .radio-box {
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
  }
}

@media (max-width: 576px) {
  .search-group {
    width: 80%;
  } 
}

@media (max-width: 500px) {
  /* .range-box {
    flex-direction: column;
    align-items: flex-start;
  } */
  
  .radio-box {
    width: 100%;
  }
}

/* todo */

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-lists {
  width: 100%;
  display: grid;
}

.todo-lists hr {
  border-color: #ccc;
}

.todo-list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
  transition: var(--transition);
  height: 53px;
}

.todo-title-group {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.todo-list:has(.todo-title-group:hover) {
  background-color: var(--clr-ghost-white);
}

.list-number {
  background: var(--clr-green-2);
  display: grid;
  border-radius: 50%;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.3rem;
  place-items: center;
}

.todo-title {
  font-size: 1.3rem;
  width: 100%;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-btn {
  margin-right: 0.6rem;
}

@media (max-width: 576px) {
  .todo-lists {
    width: 100%;
  }

  .list-number {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;

  }

  .todo-title {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 0.5rem;
  }
}