/* Todo */
.todo-section-title {
  margin-bottom: 2.5rem;
}

.todo-form {
  background-color: white;
  display: grid;
  gap: 1rem;
}

.time-input-box {
  display: flex;
  gap: 2rem;
}

.time-input-group:nth-child(2) {
  position: relative;
}

.todo-form input {
  border-bottom: 1px solid var(--clr-ghost-green1);
  border-radius: 0%;
  margin-left: 0.8rem;
}

.title-input-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.todo-title {
  width: 40%;
}

.todo-form input:focus, .todo-form textarea:focus {
  border-bottom-color: var(--clr-green-1);
}

.time-input-group div {
  /* display: inline-block; */
  position: absolute;
  top: 0.5rem;
  right: -3rem;
  align-self: center;
}

.time-input-group div span {
  margin-left: 2rem;
}


.todo-dsec {
  width: 90%;
  justify-self: center;
  resize: vertical;
  min-height: 200px;
  max-height: 300px;
  outline: none;
  border: 1px solid var(--clr-ghost-green1);
  border-radius: var(--radius);
  padding: 1rem;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 0.8rem;
}

.date-error, .title-error {
  color: #cc0033;
  font-size: 12px;
  margin: 5px 0 0 66px;
  display: none;
}

.date-error.show, .title-error.show {
  display: inline-block;
}

@media (max-width: 576px) {
  .time-input-box {
    gap: 1.5rem;
  }

  .time-input-box {
    flex-direction: column;
  }

  .time-input-box {
    margin-bottom: 0.8rem;
  }

  .time-input-group .todo-time {
    margin-left: 21px;
  }

  .time-input-group div {
    left: 13.2rem
  }

  .title-input-group {
    width: 90%;
  }

  .todo-title {
    width: 80%;
  }
}


/* Todo Overlay */

.todo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: -1;
  transition: var(--transition);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.todo-overlay.show {
  opacity: 1;
  z-index: 100;
}

.overlay-container {
  position: relative;
  background-color: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  transform: scale(0);
  transition: var(--transition);
}

.overlay-container.show {
  transform: scale(1);
}

.overlay-container i {
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.overlay-container span {
  font-size: 2rem;
  justify-self: center;
  margin-bottom: 0.6rem;
}

.overlay-text {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

/* Loading Overlay */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  justify-content: center;
  align-items: center;
  background-color: white;
  /*   background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,153,212,0) calc(15% + 100px), rgba(0,99,138,0) calc(85% + 100px), rgba(0,0,0,0.15) 100%); */
  display: none;
}

.loading-overlay.show {
  display: flex;
  z-index: 100;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay .loaoding-container div {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin: 2vw;
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  animation: bounce 1.5s 0.5s linear infinite;
}

.yellow {
  background-color: #feb60a;
}

.red {
  background-color: #ff0062;
  animation-delay: 0.1s;
}

.blue {
  background-color: #00dbf9;
  animation-delay: 0.2s;
}

.violet {
  background-color: #da00f7;
  animation-delay: 0.3s;
}

@keyframes bounce {

  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }

  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }

  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}