section {
  padding: 5rem;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

article {
  background-color: var(--clr-white);
  padding: 1rem 2rem;
  border-radius: var(--radius);
  border-bottom: 4px solid transparent;
}

article span {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

article p {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.5rem;
}

section article:nth-of-type(1) {
  border-bottom-color: #f59e0d;
}

section article:nth-of-type(2) {
  border-bottom-color: #14b8a6;
}

section article:nth-of-type(3) {
  border-bottom-color: #a855f7;
}

@media (min-width: 768px) {
  section {
    grid-template-columns: 1fr 1fr;

  }
}

@media (min-width: 992px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;

  }
}